.form-container {
    display: flex; /* or display: grid; for grid layout */
    flex-direction: column; /* or grid-template-columns for grid layout */
    margin-bottom: 20px; /* Adjust as needed */
  }

  .email,
.password {
  border: 2px solid #ccc; /* Adjust border styles */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Adjust padding */
}

.error {
    color: red;
    font-size: 14px; /* Adjust font size */
    margin-top: 5px; /* Spacing between input and error message */
}

.submit-button {
    background-color: lime;
    color: white;
    padding: 10px 20px; /* Adjust padding */
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }  